 # Analyzing Motorcycle Part Sales

A company that sells motorcycle parts operates three warehouses in an area, selling both retail and wholesale. They offer a variety of parts and accept credit cards, cash, and bank transfers as payment methods, and each payment type incurs a different fee.

The board of directors wants to better understand wholesale revenue by product line, and how this varies month-to-month and across warehouses. They have given me access to their database, which contains a `sales` table.

In this project, I analyze the sales data. Specifically, I calculate the net revenue for each product line, grouping results by month and warehouse. The results are filtered so that only `"Wholesale"` orders are included.

The idea and dataset for this project come from [DataCamp](https://projects.datacamp.com/projects/1574).

## The `sales` table

| Column | Data type | Description | 
|:--------|-----------|:-------------| 
| `order_number` | `VARCHAR` | Unique order number. | 
| `date` | `DATE` | Date of the order, from June to August 2021. | 
| `warehouse` | `VARCHAR` | The warehouse that the order was made from&mdash; `North`, `Central`, or `West`. | 
| `client_type` | `VARCHAR` | Whether the order was `Retail` or `Wholesale`. | 
| `product_line` | `VARCHAR` | Type of product ordered. | 
| `quantity` | `INT` | Number of products ordered. |  
| `unit_price` | `FLOAT` | Price per product (dollars). | 
| `total` | `FLOAT` | Total price of the order (dollars). | 
| `payment` | `VARCHAR` | Payment method&mdash;`Credit card`, `Transfer`, or `Cash`. | 
| `payment_fee` | `FLOAT` | Percentage of `total` charged as a result of the `payment` method. |

## Exploratory data analysis

First, let's have an idea of our entire data.

In [2]:
SELECT *
FROM
sales
LIMIT 5;

  order_number                      date  ...      payment payment_fee
0           N1 2021-06-01 00:00:00+00:00  ...         Cash        0.00
1           N2 2021-06-01 00:00:00+00:00  ...  Credit card        0.03
2           N3 2021-06-01 00:00:00+00:00  ...     Transfer        0.01
3           N4 2021-06-01 00:00:00+00:00  ...     Transfer        0.01
4           N5 2021-06-01 00:00:00+00:00  ...  Credit card        0.03

[5 rows x 10 columns]

Let's see the unique `warehouse`s, `client_type`s and `product_line`s.

In [3]:
-- Unique `warehouse` values
SELECT DISTINCT warehouse
FROM sales;

  warehouse
0      West
1     North
2   Central

The company has warehouses in the `West`, `North` and `Central` parts of the area.

In [4]:
-- Unique `client_type` values
SELECT DISTINCT client_type
FROM sales;

  client_type
0   Wholesale
1      Retail

The company has `Wholesale` and `Retail` customers. For this analysis, the board of directors is only interested in the `Wholesale` revenues.

In [5]:
-- Unique `product_line` values
SELECT DISTINCT product_line
FROM sales;

            product_line
0         Braking system
1      Electrical system
2  Suspension & traction
3                 Engine
4          Miscellaneous
5           Frame & body

The company deals in a range of motorcycle parts.

## Evaluate net wholesale revenue for each product, segregating by month and warehouse location

The orders captured by the `sales` table range from June to August, 2021. Let's make sure of this by investigating the unique months in the `date` column.

In [7]:
-- Unique `client_type` values
SELECT DISTINCT EXTRACT(month FROM date)
FROM sales;

   date_part
0          7
1          8
2          6

Note that `6` is for 'June', `7` is for 'July' and `8` is for 'August'. We'll use a `CASE` statement to replace these figures with the months (in words) they represent.

In [8]:
SELECT product_line,
	CASE
		WHEN EXTRACT(month from date) = 6 THEN 'June'
		WHEN EXTRACT(month from date) = 7 THEN 'July'
		ELSE 'August'
	END AS month,
	warehouse,
	SUM(total - payment_fee) AS net_revenue
FROM sales
WHERE client_type = 'Wholesale'
GROUP BY product_line, month, warehouse
ORDER BY product_line, month, net_revenue DESC;

             product_line   month warehouse  net_revenue
0          Braking system  August   Central      3039.41
1          Braking system  August      West      2500.67
2          Braking system  August     North      1770.84
3          Braking system    July   Central      3778.65
4          Braking system    July      West      3060.93
5          Braking system    July     North      2594.44
6          Braking system    June   Central      3684.89
7          Braking system    June     North      1487.77
8          Braking system    June      West      1212.75
9       Electrical system  August     North      4721.12
10      Electrical system  August   Central      3126.43
11      Electrical system  August      West      1241.84
12      Electrical system    July   Central      5577.62
13      Electrical system    July     North      1710.13
14      Electrical system    July      West       449.46
15      Electrical system    June   Central      2904.93
16      Electrical system    June     North      2022.50
17                 Engine  August   Central      9528.71
18                 Engine  August     North      2324.19
19                 Engine    July   Central      1827.03
20                 Engine    July     North      1007.14
21                 Engine    June   Central      6548.85
22           Frame & body  August   Central      8657.99
23           Frame & body  August     North      7898.89
24           Frame & body  August      West       829.69
25           Frame & body    July     North      6154.61
26           Frame & body    July   Central      3135.13
27           Frame & body    June   Central      5111.34
28           Frame & body    June     North      4910.12
29           Frame & body    June      West      2779.74
30          Miscellaneous  August     North      1841.40
31          Miscellaneous  August   Central      1739.76
32          Miscellaneous  August      West       813.43
33          Miscellaneous    July   Central      3118.44
34          Miscellaneous    July     North      2404.65
35          Miscellaneous    July      West      1156.80
36          Miscellaneous    June      West      2280.97
37          Miscellaneous    June   Central      1878.07
38          Miscellaneous    June     North       513.99
39  Suspension & traction  August   Central      5416.70
40  Suspension & traction  August     North      4923.69
41  Suspension & traction  August      West      1080.79
42  Suspension & traction    July   Central      6456.72
43  Suspension & traction    July     North      3714.28
44  Suspension & traction    July      West      2939.32
45  Suspension & traction    June     North      8065.74
46  Suspension & traction    June   Central      3325.00
47  Suspension & traction    June      West      2372.52